@import '../../styles/globals/mixin';

.wrapper {
  width: 100%;
  padding: 0px 56px;
  margin: 80px 0;
  @include tab {
    margin: 56px 0;
    padding: 0px 16px;
  }
}

.banner{
  height: 50vh;
  width: 100%;
  background:var(--primary-gradient);
  display: flex;
  align-items: center;
  justify-content: center;


  h2{
    font-size: 64px;
    text-align: center;
    transition: all .5s;

    @include tab{
      font-size: 48px;
    }
  }
}

.content{
  h3{
    font-size: 24px;
    margin-top: 48px;
    color: var(--black);
  }
  p{
    margin-top: 1rem;
    font-size: 20px;
    line-height: 1.4;
    font-family: regular;
    color: var(--gray);
  }
  strong{
    font-family: semibold;
    font-weight: 600;
    color: var(--black);
  }
 
  .underline {
  text-decoration: underline;
   }  

  
  .alphabet{
        list-style-type:lower-alpha;
        padding-left: 24px;
    
        li::marker {
          content: "(" counter(list-item, lower-alpha) ") ";
        }
    }
  

  .roman {
    list-style-type: lower-roman;
    padding-left: 24px;

    li::marker {
      content: "(" counter(list-item, lower-roman) ") ";
    }
  }
}
