@import '../../styles/globals/mixin';

.careers {
    width: 100%;
    margin: 0 auto;
}

.content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    h2,
    p {
        transition: all ease 0.5s;
    }

    h2 {
        font-size: 32px;
        font-weight: 400;
        color: var(--black);

        @include lessTab {
            font-size: 24px;
        }
    }

    p {
        color: #6C7073;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;

        @include tab {
            line-height: 1.2;
        }
    }
}

.jobs_box {
    max-width: 940px;
    width: 100%;
    margin: 50px auto 0 auto;

    iframe {
        width: 100%;
    }
}