@import '../../styles/globals/mixin';

.careers {
    width: 100%;
    margin: 0 auto;
}

.careers_banner {
    width: 100%;
    margin: 80px 0;
    padding: 56px 56px 0 56px;
    min-height: 560px;
    overflow: visible !important;

    @include tab {
        min-height: 470px;
        padding: 44px 20px 0 20px;
        margin: 50px 0;
    }
}

.careers_banner_layout {
    min-height: 500px;
    height: 100%;
    justify-content: space-between;

    @include tab {
        min-height: 420px;
    }
}

.careers_banner_title {
    margin: 0 auto;
    font-size: 64px;
    text-align: center;
}

.careers_banner_image_wrap {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;

    @include tab {
        width: 100%;
    }
}

.careers_banner_image {
    width: 100%;
    max-width: 60%;
    // aspect-ratio: 1 / 1;
    // object-fit: contain;
    border: none;
    height: auto;

    @include tab {
        width: 70%;
        max-width: 70%;
    }
}

.content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    h2,
    p {
        transition: all ease 0.5s;
    }

    h2 {
        font-size: 32px;
        font-weight: 400;
        color: var(--black);

        @include lessTab {
            font-size: 24px;
        }
    }

    p {
        color: #6C7073;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;

        @include tab {
            line-height: 1.2;
        }
    }
}

.jobs_box {
    max-width: 940px;
    width: 100%;
    margin: 50px auto 0 auto;

    iframe {
        width: 100%;
    }
}