@import '../../../../styles/globals/mixin';

.reverse_layout {
    width: 100%;
    padding: 0 56px 80px 56px;
    @include large {
        padding: 0 32px 80px 32px;
    }
    @include tab {
        padding: 0 16px 80px 16px;
    }
}
.reverse_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;

    @include large {
        gap: 24px;
    }

    @include tab {
        grid-template-columns: 1fr;
    }

    .left_img {
        width: 100%;

        img {
            width: 100%;
            object-fit: contain;

            @include tab {
                height: auto;
            }
        }
    }

    .right_content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            background: var(--primary-gradient-medium);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 48px;
            transition: all 0.5s;

            @include large {
                font-size: 40px;
            }

            @include tab {
                font-size: 32px;
            }
        }
        p{
            font-size: 20px;
            color: var(--gray);
            font-family: 'regular';
            line-height: 1.4;
            transition: all 0.5s;

            @include tab {
                font-size: 14px;
            }
        }
    }
}