@import '../../../../styles/globals/mixin';

.integration_layout {
    width: 100%;
    padding: 0 56px 80px 56px;
    @include tab {
        padding: 0 16px 80px 16px;
    }
}

.layout_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    
    @include tab {
        grid-template-columns: 1fr;
    }

    .left_content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tab {
            order: 2;
        }
        
        h3 {
            background: var(--primary-gradient-medium);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 48px;
            line-height: 1.1;

            @include tab {
                font-size: 32px;
            }
        }
        p{
            font-size: 20px;
            color: var(--gray);
            font-family: 'regular';
            line-height: 1.4;

            @include tab {
                font-size: 14px;
            }
        }
    }

    .right_img {
        width: 100%;

        @include tab {
            order: 1;
        }

        img {
            width: 100%;
            object-fit: contain;

            @include tab {
                height: auto;
            }
        }
    }
}