@import "../../../styles/globals/mixin";

.hero {
  position: relative;
  width: 100%;
  background-image: var(--bg-desktop);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1440 / 500;
  isolation: isolate;
  @include tab{
    background-image: var(--bg-mobile);
    aspect-ratio: 375 / 663;
    border-radius: 16px;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 56px 56px;
  @include large{
    padding: 56px 32px;
  }
  @include tab{
    padding: 24px 16px;
  }
  .inner{
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    gap: 18px;
    @include tab{
      gap: 22px;
    }
  }
}

.heading {
  margin: 0;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  @include tab{
    font-size: 36px;
  }
}

.description {
  margin: 0 auto;
  line-height: 1.25;
  font-size: 30px;
  font-weight: 500;
  @include tab{
    font-size: 20px;
    max-width: 278px;
    letter-spacing: 0.1rem;
  }
}
