@import "../../styles/globals/mixin";

.wrapper {
  width: 100%;
  padding: 0px 56px;
  margin: 80px 0;
  @include tab {
    margin: 56px 0;
    padding: 0px 16px;
  }
}

.csr_banner {
  width: 100%;
  height: 80vh;
  background: var(--primary-gradient);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;

  .csr_banner_heading {
    width: 100%;
    text-align: center;

    h2 {
      font-size: 4.5rem;
      transition: all ease 0.5s;

      @include tab {
        font-size: 48px;
      }

      @include lessTab {
        font-size: 30px;
      }
    }
  }
}

.csr_box_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  gap: 48px;

  a {
    text-decoration: none;
  }

  .csr_box {
    min-height: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px var(--border-clr);
    transition: all ease 0.3s;

    .box_icons {
      width: 81px;
      height: 81px;
      border-radius: 1px solid var(--gray);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;

        path {
          transition: fill 0.3s ease;
        }
      }

      img {
        width: 100%;
      }
    }

    .icon_border {
      width: 80%;
      height: 0.5px;
      background-color: var(--gray);
      transition: all ease 0.5s;
    }

    h5 {
      color: var(--black);
      transition: all ease 0.3s;
    }

    &:hover {
      background: var(--gradient-light);
      transform: translateY(-2px);
    }    

    &:hover .box_icons svg path {
      fill: var(--white);
    }
    
    &:hover h5 {
      color: var(--white);
      scale: 1.05;
    }

    &:hover .icon_border {
      background-color: var(--white);
    }
  }
}

.csr_txt {
  width: 100%;
  color: var(--black);
  margin-top: 5rem;

  p {
    font-style: italic;
    font-family: 'light';
  }
}