@import "../../../../styles/globals/mixin";

.about_banner {
    width: 100%;
    height: 90vh;
    background-image: url("/images/about_images/about-us-banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .banner_svg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      text-align: center;

      img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .banner_content {
      width: 90%;
      text-align: center;
      color: var(--white);
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% - 220px));
      transition: all ease 0.5s;

      h5 {
          font-size: 24px;
          margin-bottom: 1rem;
      }

      h2 {
        text-transform: capitalize;
        font-family: "bold";
        font-size: 64px;
      }

      p{
          font-size: 24px;
          line-height: 1.5;
          margin-top: 1rem;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .about_banner {
      .banner_content {
        transform: translate(-50%, calc(-50% - 160px));
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .about_banner {
      .banner_content {
        width: 80%;

        h5 {
          font-size: 20px;
        }

        h2 {
          font-size: 48px;
        }

        p {
          font-size: 20px;
        }
      }
    }
}

  @media only screen and (max-width: 767px) {
  .about_banner {
    background-image: url('/images/prod_imports/about-us-hero-mobile.png');
    .banner_content {
      width: 90%;
      top: 10%;
      transform: translateX(-50%);

      h5 {
        font-size: 16px;
      }

      h2 {
        font-size: 32px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

  @media only screen and (max-width: 563px) {
    .about_banner {
      .banner_content {
        width: 95%;
        top: 8%;
        transform: translateX(-50%);

        h5 {
          font-size: 16px;
        }

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 16px;
        }
      }
    }
}
