@import '../../../../../styles/globals/mixin';

.wrapper {
    width: 100%;
    padding: 80px 56px;
    @include tab {
      padding: 56px 16px;
    }
  }

.instant_payment_text {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--black);

  @include tab {
    max-width: 100%;
    padding: 0;
  }

  h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
    color: var(--black);
    font-family: inherit;
    @include tab {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    color: var(--gray);
    font-family: 'light', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    max-width: 89%;
    line-height: 1.4;
    @include tab {
      font-size: 15px;
      max-width: 100%;
    }
  }
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 32px;
    // padding: 38px 0;

    @include tab {
      grid-template-columns: 1fr;
      gap: 30px;
      margin-top: 28px;
    }

    .content_right_img {
      display: flex;
      align-items: center;
      justify-self: center;
      position: relative;
      z-index: 2;

      width: 100%;
      max-width: 520px;


      @include tab {
        justify-self: center;
        margin-top: 24px;
        order: 2;
        max-width: 320px;
      }

      img {
        width: 100%;
        height: 100%;
        // object-fit: cover; // matches design
      }
    }
  }
