@import '../../../../../styles/globals/mixin';

.wrapper {
    width: 100%;
    margin: 56px 0 40px 0;
    @include tab {
        padding: 0 16px;
    }
    .section_fourth_slider {
        width: 100%;
        text-align: center;
        padding: 0 56px;
        @include large {
          padding: 0 32px;
        }
        @include tab{
          padding: 0 16px;
        }
        :global(.swiper) {
          height: auto;
        }
        :global(.swiper-wrapper) {
          align-items: stretch;
        }
        :global(.swiper-slide) {
          height: auto;
          display: flex;
        }
        .section_fourth_box {
          width: 100%;
          padding: 48px;
          gap: 24px;
          border-radius: 0 92.316px 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          background-color: var(--white);
          height: 100%;
          @include tab {
            width: 100%;
            padding: 24px 16px;
          }
          .section_fourth_image{
            width: 100%;
            flex-shrink: 0;
          }
        }

        // .slide:first-child {
        //     margin-left: 56px;
        //     @include tab {
        //       margin: 0;
        //     }
        // }
        // .slide:last-child {
        //   margin-right: 56px;
        //   @include tab {
        //     margin: 0;
        //   }
        // }
        img {
          width: 100%;
        }
        p {
          font-size: 32px;
          line-height: 1.1;
          color: var(--black);
          @include tab{
            font-size: 24px;
          }
        }
    }
    :global(.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet),
    :global(.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet) {
      width: 10px;
      height: 10px;
      transition: all ease 0.5s;
    }

    :global(.swiper-pagination-bullet-active) {
      width: 25px !important;
      border-radius: 5px !important;
      background: var(--primary-gradient);
    }
}
