@import '../../../../../styles/globals/mixin';

.wrapper {
    width: 100%;
    padding: 40px 56px;
    // margin: 80px 0;
    position: relative;
    overflow: hidden;
    background-color: var(--body-bg);
    @include large {
      padding: 40px 32px;
    }
    @include tab {
      // margin: 56px 0;
      padding: 50px 16px 0;
    }
  }

.wrapperWithBgCircle {
    background-image: url('/images/product_page_images/bg_circle.svg');
    background-repeat: no-repeat;
    background-position: 5rem center;
    background-size: 150% 100%;

    @include tab {
        background-position: 0 center;
        background-size: 250% 100%;
    }

    @include mobile {
        background-position: 0 center;
        background-size: 380% 150%;
    }
}